fieldset{border:0;}
#settings {
    position: absolute;
    z-index: 25;
    cursor: pointer;
    top: 10px;
    left: -46px;
    width: 36px;
    height: 36px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 100% 100%;
    background-image: url('../img/settings.png');
}
#systemControl{background:#000;text-align:right;padding:10px;}
#systemControl .btn{color:#fff;font-size:20px;text-decoration:none;width:45px;height:45px;text-align:center;line-height:45px;display:inline-block;}
#systemControl .btn:hover{background-color:#444;}
body.open #settings {
    background-image: url('../img/cancel.png');
}
header {
    position: fixed;
    z-index: 50;
    width: 300px;
    right: -300px;
    top: 0px;
    bottom: 0px;
    cursor: default;
    background-color: #BE213E;
    background-image: none;
    -webkit-box-shadow: 0px 0px 5px #000000;
            box-shadow: 0px 0px 5px #000000;
    -webkit-transition: right 0.1s linear;
            transition: right 0.1s linear;
    -webkit-overflow-scrolling: touch;
            overflow-scrolling: touch;
}
body.open header {
    right: 0px;
}

.config_pop{
    position: fixed;
    z-index: 49;
    width: 300px;
    right: -300px;
    top: 65px;
    bottom: 0px;
    cursor: default;
    background-color: #F29500;
    background-image: none;
    -webkit-box-shadow: 0px 0px 5px #000000;
            box-shadow: 0px 0px 5px #000000;
    -webkit-transition: right 0.1s linear;
            transition: right 0.1s linear;
    -webkit-overflow-scrolling: touch;
            overflow-scrolling: touch;
}
.config_pop.open{right:300px;}
.config_pop input{
    background-color: #fff;
    border: 1px solid #ccc;
    height: 20px;
    width:260px;
    padding: 4px 6px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    -webkit-transition: border linear .2s,box-shadow linear .2s;
    transition: border linear .2s,box-shadow linear .2s;
}
.config_pop textarea{width:260px;padding:4px 6px;background-color: #fff;border: 1px solid #ccc;}
.form-horizontal .control-group{margin:5px 0;}
.form-horizontal .control-label{margin-bottom:10px;display:block;}
.form-horizontal .form-actions{position:absolute;bottom:0;text-align:right;width:101%;background-color:#000;margin:0 0 0 -1em;}
.form-horizontal .form-actions .btn{padding:0;border:0;cursor:pointer;color: #fff;font-size:14px;text-decoration: none;width: 45px;height: 45px;text-align: center;line-height: 45px;display: inline-block;background-color:#000;}
.form-horizontal .form-actions .btn:hover{background-color:#fff;color:#000;}

#theme_picker {
    margin: 10px 0px 10px 0px;
    overflow: hidden;
}
#theme_picker > div.theme {
    position: relative;
    overflow: hidden;
    height: 36px;
    cursor: pointer;
    float: left;width:49%;
}
#theme_picker > div.theme:hover,
#theme_picker > div.selected {
    background-color: rgba(0, 0, 0, 0.2);
}
#theme_picker div.square {
    width: 40px;
    height: 20px;
    margin: 7px 10px 0px 30px;
    border: 1px solid #CCCCCC;
    cursor: pointer;
    background-size: cover;
    -webkit-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
            box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}
#theme_picker > h4 {
    clear:both;
    margin:0 0 5px 30px;
    color: #333333;
    font-weight: bold;
    font-size: 1.2em;
    -webkit-text-shadow: 0 1px 1px #D83855;
            text-shadow: 0 1px 1px #D83855;
}
#theme_picker label {
    position: absolute;
    color: #FFFFFF;
    left: 80px;
    top: 0px;
    height: 36px;
    line-height: 36px;
    text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.5);
    text-transform: uppercase;
    font-size: 0.8em;
}
#theme_picker div.default {
    background: url('../img/colour.png');
}
#theme_picker div.blue {
    background-color: #0097AA;
}
#theme_picker div.orange {
    background-color: #F29500;
}
#theme_picker div.red {
    background-color: #C23916;
}
#theme_picker div.green {
    background-color: #94C849;
}
#theme_picker div.darkgreen {
    background-color: #6FA014;
}
#theme_picker div.purple {
    background-color: #91009B;
}
#theme_picker div.darkred {
    background-color: #BE213E;
}
#theme_picker div.darkblue {
    background-color: #3C7780;
}
#theme_picker div.yellow {
    background-color: #D9B700;
}
#theme_picker div.grey {
    background-color: #4C4C4C;
}
#theme_picker ul,
#theme_picker li{margin:0;padding:0;list-style:none;}
#theme_picker .add_apps{margin-bottom:10px;padding:0 30px;}
#theme_picker .add_apps .btn{display:inline-block;color:#fff;text-decoration:none;background-color:#000;line-height:30px;padding:0 10px;font-size:12px;vertical-align:middle;margin:3px 10px 0 0;}
#theme_picker .add_apps .btn:hover{background-color:#fff;color:#000;}
#theme_picker .apps{padding:0 30px;}
#theme_picker .apps li{float:left;width:38px;height:38px;background-position:50% 50%;background-repeat:no-repeat;cursor:pointer;margin:0 10px 10px 0;background-size:100% 100%!important;}


/*
Pages
*/
div.inline_wrapper {
    margin: 0px 20px 20px 20px;
}
img.inline_preview {
    display: block;
    background-color: #FFFFFF;
    padding: 10px;
    width: 610px;
    max-width: 100%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -webkit-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.4);
            box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.4);
}
div.feature {
    width: 650px;
    max-width: 100%;
}
div.feature strong {
    display: block;
    margin: 0px 20px;
    padding: 10px;
    color: #111111;
    text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.3);
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.2);
}
div.preview_button {
    width: 610px;
    max-width: 100%;
    padding: 20px 0px;
    background-color: rgba(0, 0, 0, 0.1);
    text-align: center;
}
a.demo,
a.download {
    display: inline-block;
    background-image: url('../img/envato_sprite.png');
    background-repeat: no-repeat;
    background-color: #222222;
    padding: 8px 12px 8px 36px;
    font-size: 0.9em;
    text-decoration: none;
    text-transform: uppercase;
    -webkit-box-shadow: 1px 1px 6px #222222;
            box-shadow: 1px 1px 6px #222222;
}
a.demo:hover,
a.download:hover {
    background-color: #333333;
}
a.demo:active,
a.download:active {
    -webkit-box-shadow: 2px 2px 6px #000000 inset;
            box-shadow: 2px 2px 6px #000000 inset;
}
a.demo {
    background-position: 10px -404px;
    margin-right: 20px;
}
a.download {
    background-position: 10px -701px;
}

div.settings {
    overflow: hidden;
    top: 0px;
    background-color: #FFFFFF;
    border: 1px solid #DDDDDD;
    border-radius: 5px;
    color: #000000;
    text-shadow: 0px 1px 1px #FFFFFF;
    z-index: 10;
    margin: 0px 20px 20px 20px;
    -webkit-box-shadow: 0px 2px 5px #000000;
            box-shadow: 0px 2px 5px #000000;
    -webkit-user-select: none;
            user-select: none;
}
div.settings > div {
    float: left;
    position: relative;
    padding: 10px;
    text-align: center;
    border-right: 1px solid #DDDDDD;
    border-left: 1px solid #FFFFFF;
    cursor: pointer;
    width: 120px;
    height: 100%;
    border-radius: 5px;
    -webkit-transition: all 0.1s;
            transition: all 0.1s;
}
div.settings > div > span {
    display: block;
    margin: 10px auto 0px auto;
}
div.settings > div > select {
    width: 90%;
}
div.settings > div.selected,
div.settings > div:hover {
    background-color: #A8240D;
    color: #FFFFFF;
    text-shadow: 1px 1px 1px #000000;
}
div.settings.blue > div.selected,
div.settings.blue > div:hover {
    background-color: #22A7CA;
}
div.settings > div:first-child {
    border-left: none;
}
div.settings > div.selected:hover {
    cursor: default;
}

/* settings */
#demo {
    margin-bottom: 10px;
    clear: both;
    overflow: hidden;
}
div.setting_options {
    margin-left: 140px;
}
div.setting_label {
    width: 140px;
    float: left;
}
div.setting_options label {
    width: 80px;
    display: inline-block;
}
div.settings > div {
    width: 100px;
}

/* contact */
.contact_map {
    padding: 0px !important;
}
.contact_map iframe {
    display: block;
}
.contact label {
    display: block;
    margin-bottom: 5px;
}